#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
}

body {
  box-sizing: border-box;
  background-color: white;
  border: 20px solid #003875;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
}

.app {
  color: black;
  padding: 20px 20px 300px 20px;
}

.app-nav a {
  padding: 0px 20px 5px 20px;
  text-decoration:none;
  color: #ffffff;
  background-color: #003875;
  line-height: 1;
  vertical-align: middle;
  font-size:1.3em;
  font-weight:bold;
  border-radius:3px;
  margin: 5px
}

.collection-container {
  padding: 32px;
}

table {
  background-color: white;
  border-collapse: collapse;
  width: 500px;
}

tr th {
  border: 1px solid #003875;
  padding: 5px;
  color: white;
  text-align: center;
  font-style: bold;
  background-color: #003875;
}

tr td {
  border: 1px solid #E1A95F;
  padding: 5px;
  color: black;
  text-align: center;
  background-color: white;
}

.reactIcon:hover{
  color: hsl(2, 100%, 50%);
  background-color: white;
  cursor: pointer;
}

input {
  font-family: inherit;
  cursor: pointer;
}