body {
  box-sizing: border-box;
  background-color: black;
  border: 5px solid #940D2D;
  margin: 0;
  /* display: flex; */
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black
}

.app {
  padding: 10px 20px;
}

.app-nav a {
  padding: 0px 20px 5px 20px;
  color: #ffffff;
  background-color: #940D2D;
  line-height: 2;
  font-size:1.3em;
  font-weight:bold;
  border-radius:3px;
  margin: 5px
}

.hero img {
  
  color: #ffffff;
  background-color: #ffffff;
  border: 2px solid #940D2D;
  border-radius:5%;
  width: 200px;
  height: 150px;
}

p {
  color: white;
  background-color: black;
}

.Homepage p {
  color: white;
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
  margin: 5px;
  text-decoration: underline;
}

.orm {
  margin: 20px 0px;
  padding: 5px;
  border: 2px solid #940D2D;
}

.ormfields {
  padding: 5px;
  color: white;  
  display: flex;
  justify-content: center;
}

caption{
  font-weight: bold;
  font-size: 1.2em;
}

button {
  background-color: #d0ccc2;
  color: black;
  margin: 10px;
  padding: 2px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  border: 2px solid #940D2D;
}

.container2 {
  display: flex;
  padding: 0;
  margin: 10px;
  justify-content: center;
  border: 2px dashed #940D2D;
  width: 100;
}

.exerciseRecommendandInfo {
  margin: 10px;
  border: 1px solid white;
  width: 50%;
}


.exerciseInfo {
  text-align: left;
  padding: 0 10px;
}

table {
  color: white;
  border-collapse: collapse;
  width: 500px;
  margin: 0;
  padding: 0;
}

tr th {
  color: white;
  text-align: center;
  font-style: bold;
  background-color: #940D2D;
  border: 1px solid #940D2D;
}

tr td {
  border-top: 1px solid #73787C;
  border-bottom: 1px solid #73787C;  
  padding: 3px;
  text-align: middle;
}

.quote {
  color: yellow;
  margin: 0px 0px 10px 0px;
}

.createsteps {
  padding: 0px;
  margin: 0px;
  color: red;
  text-align: left;
  font-weight: bold;
}

ol {
  margin: 0px 0px 0px 30px;
  padding: 2px;
  text-align: left;;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
}


.reactIcon:hover{
  color: hsl(2, 100%, 50%);
  background-color: black;
  cursor: pointer;
}

input {
  font-family: inherit;
  cursor: pointer;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: white;
}

/* label {
  vertical-align: top;
}

label span {
  margin: 10px;

}

form div{
  display:flex;
}

.labelMessage {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contactMessage {
  width: 800px;
  height: 400px;
} */